{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['FIO'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post['Position'] }}</span>
    <p>Дата народження: {{ post['DOB'] }}</p>
    <p>Адреса: {{ post['Address'] }}</p>
    <p>Телефон: {{ post['Phone_Number'] }}</p>
    <p>Номер паспорта: {{ post['Passport'] }}</p>
    <p>Соцмережі: {{ post['Social_Media'] }}</p>
    <p>Електронна пошта: {{ post['Email'] }}</p>

    <!-- Include the image -->
    <img src="{{ url_for('static', filename='images/' + post['Image_File']) }}" alt="{{ post['FIO'] }} Image">
{% endblock %}